@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin hero-box($font-size: 30px, $background: $color-main-dark, $color: $color-main-light) {
	background: $background;
	color: $color;
	box-sizing: border-box;
	text-align: center;
	font-size: $font-size;
	padding: 20px;
}