<!doctype html>
<html lang="en">
  <head>

    <title>Forecast</title>
    <link rel="stylesheet" href="/css/main.css">

  </head>
  <body>

  {{{body}}}

  <script src="/js/main.js"></script>

  </body>
</html>
