<div class="forecast">
	{{#each forecast}}
		<div class="forecast_item">
			<div class="forecast_inner">
				<span class="forecast_date">{{format-date dt}}</span>

				<span class="forecast_result">
					<span class="forecast_main">{{weather.0.main}}</span>

					{{> partials/weather-details}}
				</span>
			</div>
		</div>
	{{/each}}

</div>