.hero {
	background: $color-main-dark;
	color: $color-main-light;
	box-sizing: border-box;
	text-align: center;
	font-size: 30px;
	padding: 20px;

	&-fullheight {
		height: 100%;
	}

	&-halfheight {
		height: 50%;
	}

	&_inner {
		@include vertical-align();
	}
}